body {
    background-color: blueviolet;
}

header {
    background-color:darkcyan;
}

.hero {
    background-color:cadetblue
}

.projetos {
    background-color:aquamarine;
}

.habilidades {
    background-color:deepskyblue;
}

.certificados {
    background-color: cornflowerblue;
}

.contato {
    background-color: steelblue;
}

footer {
    background-color: turquoise;
}