body {
    background: #00458E;
    background: linear-gradient(180deg, rgba(0, 69, 142, 1) 0%, rgba(0, 3, 40, 1) 100%);
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    /* background-color: darkcyan; */
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.hero {
    /* background-color: cadetblue; */
    height: 100vh;
    display: grid;
    grid-template-areas: 'minhaArea minhaArea minhaArea minhaArea';
    gap: 10px;
    padding: 10px;
    align-content: center;
    justify-items: center;
}

.hero h1 {
    grid-area: minhaArea;
    justify-self: center;
}

#avatar {
    width: 75%;
    height: 75%;
    object-fit: scale-down;
}

.projetos {
    /* background-color: aquamarine; */
}

.habilidades {
    /* background-color: deepskyblue; */
}

.certificados {
    /* background-color: cornflowerblue; */
}

.contato {
    /* background-color: steelblue; */
}

footer {
    /* background-color: turquoise; */
}